In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stat
import matplotlib.pyplot as plt

# Подготовка данных.

In [2]:
data = pd.read_csv('./lecture_2/adult.csv', delimiter = ',')
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
data.isna().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [4]:
X = data[["age", "educational-num", "race" ,"gender", "capital-gain", "capital-loss", "hours-per-week","native-country"]]
y = data.income

In [5]:
X.shape

(48842, 8)

In [6]:
y.shape

(48842,)

In [7]:
data.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [8]:
from sklearn.preprocessing import LabelEncoder #для декодирования целевого параметра
from sklearn.pipeline import make_pipeline
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.preprocessing import RobustScaler
from sklearn.compose import make_column_transformer

# Логистическая регрессия

In [9]:
from sklearn.linear_model import LogisticRegression

In [10]:
transformer = make_column_transformer((RobustScaler(), ['age', 'hours-per-week']),
                                      (OneHotEncoder(), ['race', 'gender', 'native-country']),
                                      remainder = 'passthrough')

In [11]:
#Декодирование целевого параметра.
LE = LabelEncoder()
LE.fit(y) #показываем данные
LE.transform(y) #трансформируем

array([0, 0, 1, ..., 0, 0, 1])

In [12]:
y = pd.Series(LE.transform(y))

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=20039)

In [14]:
model = LogisticRegression(max_iter = 1000)

In [15]:
pipe = make_pipeline(transformer, model)

In [16]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('robustscaler',
                                                  RobustScaler(),
                                                  ['age', 'hours-per-week']),
                                                 ('onehotencoder',
                                                  OneHotEncoder(),
                                                  ['race', 'gender',
                                                   'native-country'])])),
                ('logisticregression', LogisticRegression(max_iter=1000))])

In [17]:
pipe.score(X_train, y_train)

0.8218140337535464

In [18]:
pipe.score(X_test, y_test)

0.8231761414044906

# Метод опорных векторов (SVM)

In [19]:
from sklearn.svm import SVC #Support Vector Classification

In [20]:
model2 = SVC(gamma='auto')

In [21]:
pipe2 = make_pipeline(transformer, model2)

In [22]:
pipe2.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('robustscaler',
                                                  RobustScaler(),
                                                  ['age', 'hours-per-week']),
                                                 ('onehotencoder',
                                                  OneHotEncoder(),
                                                  ['race', 'gender',
                                                   'native-country'])])),
                ('svc', SVC(gamma='auto'))])

In [23]:
pipe2.score(X_train, y_train)

0.8481967884407265

In [24]:
pipe2.score(X_test, y_test)

0.8487681703405446